
/* Default Hamburger Variables */
.header-burger-btn {
  --b-hamburger-layer-height: 2px;       /* thickness */
  --b-hamburger-color: var(--navigationLinkColor, #000);  /* bar color */
  --b-hamburger-speed: 0.35s;            /* animation speed */
}
.header-burger-btn .hamburger-inner,
.header-burger-btn .hamburger-inner::before,
.header-burger-btn .hamburger-inner::after {
  height: var(--b-hamburger-layer-height);
  background-color: var(--b-hamburger-color);
  transition-duration: var(--b-hamburger-speed);
}

/* * 3DX Reverse
   */
.header-burger-btn--3dx-r .header-burger-btn-box {
  perspective: 80px; }

.header-burger-btn--3dx-r .header-burger-btn-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .header-burger-btn--3dx-r .header-burger-btn-inner::before, .header-burger-btn--3dx-r .header-burger-btn-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.header-burger-btn--3dx-r.is-active .header-burger-btn-inner {
  background-color: transparent !important;
  transform: rotateY(-180deg); }
  .header-burger-btn--3dx-r.is-active .header-burger-btn-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .header-burger-btn--3dx-r.is-active .header-burger-btn-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/* Hover & Active States */
.header-burger-btn.hamburger--3dx-r.burger--active:hover {
  opacity: 0.7;
}
.header-burger-btn.hamburger--3dx-r.burger--active:active {
  opacity: 0.7;
}
