
/* Default Hamburger Variables */
.header-burger-btn {
  --b-hamburger-layer-height: 2px;       /* thickness */
  --b-hamburger-color: var(--navigationLinkColor, #000);  /* bar color */
  --b-hamburger-speed: 0.35s;            /* animation speed */
}
.header-burger-btn .hamburger-inner,
.header-burger-btn .hamburger-inner::before,
.header-burger-btn .hamburger-inner::after {
  height: var(--b-hamburger-layer-height);
  background-color: var(--b-hamburger-color);
  transition-duration: var(--b-hamburger-speed);
}

/* * Emphatic Reverse
   */
.header-burger-btn--emphatic-r {
  overflow: hidden; }
  .header-burger-btn--emphatic-r .header-burger-btn-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .header-burger-btn--emphatic-r .header-burger-btn-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .header-burger-btn--emphatic-r .header-burger-btn-inner::after {
      top: 10px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .header-burger-btn--emphatic-r.is-active .header-burger-btn-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent !important; }
    .header-burger-btn--emphatic-r.is-active .header-burger-btn-inner::before {
      left: -80px;
      top: 80px;
      transform: translate3d(80px, -80px, 0) rotate(-45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .header-burger-btn--emphatic-r.is-active .header-burger-btn-inner::after {
      right: -80px;
      top: 80px;
      transform: translate3d(-80px, -80px, 0) rotate(45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/* Hover & Active States */
.header-burger-btn.hamburger--emphatic-r.burger--active:hover {
  opacity: 0.7;
}
.header-burger-btn.hamburger--emphatic-r.burger--active:active {
  opacity: 0.7;
}
