/* Slider Animation - SQWS Plugin */
.header-burger-btn {
  --b-hamburger-layer-height: 2px;
  font: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 1px 6px;
  cursor: pointer;
  background: transparent;
  border: none;
  box-sizing: content-box;
  transition: opacity 0.15s linear;
}

.header-burger-btn:hover,
.header-burger-btn.burger--active:hover {
  opacity: 0.7;
}

.burger-box {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 21px;
}

.burger-inner,
.burger-inner::before,
.burger-inner::after {
  position: absolute;
  width: 35px;
  height: var(--b-hamburger-layer-height);
  background-color: var(--navigationLinkColor, #000);
  transition: transform 0.15s ease;
}

.burger-inner {
  top: 50%;
  transform: translateY(-50%);
}

.burger-inner::before {
  content: "";
  top: -9px;
}

.burger-inner::after {
  content: "";
  bottom: -9px;
}

.header-burger-btn.burger--active .burger-inner {
  transform: translateY(9px) rotate(45deg);
}

.header-burger-btn.burger--active .burger-inner::before {
  transform: rotate(-45deg) translate(-5px, -6px);
  opacity: 0;
}

.header-burger-btn.burger--active .burger-inner::after {
  transform: translateY(-18px) rotate(-90deg);
}