
/* Default Hamburger Variables */
.header-burger-btn {
  --b-hamburger-layer-height: 2px;       /* thickness */
  --b-hamburger-color: var(--navigationLinkColor, #000);  /* bar color */
  --b-hamburger-speed: 0.35s;            /* animation speed */
}
.header-burger-btn .hamburger-inner,
.header-burger-btn .hamburger-inner::before,
.header-burger-btn .hamburger-inner::after {
  height: var(--b-hamburger-layer-height);
  background-color: var(--b-hamburger-color);
  transition-duration: var(--b-hamburger-speed);
}

/* * Vortex Reverse
   */
.header-burger-btn--vortex-r .header-burger-btn-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .header-burger-btn--vortex-r .header-burger-btn-inner::before, .header-burger-btn--vortex-r .header-burger-btn-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .header-burger-btn--vortex-r .header-burger-btn-inner::before {
    transition-property: top, opacity; }
  .header-burger-btn--vortex-r .header-burger-btn-inner::after {
    transition-property: bottom, transform; }

.header-burger-btn--vortex-r.is-active .header-burger-btn-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .header-burger-btn--vortex-r.is-active .header-burger-btn-inner::before, .header-burger-btn--vortex-r.is-active .header-burger-btn-inner::after {
    transition-delay: 0s; }
  .header-burger-btn--vortex-r.is-active .header-burger-btn-inner::before {
    top: 0;
    opacity: 0; }
  .header-burger-btn--vortex-r.is-active .header-burger-btn-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }

/* Hover & Active States */
.header-burger-btn.hamburger--vortex-r.burger--active:hover {
  opacity: 0.7;
}
.header-burger-btn.hamburger--vortex-r.burger--active:active {
  opacity: 0.7;
}
